:host ::ng-deep p-orderlist {
    width: 100%;
}

:host ::ng-deep .p-orderlist {
    width: 100%;
}

:host ::ng-deep .p-orderlist-list {
    width: 100%;
}

:host ::ng-deep .p-orderlist-controls {
    padding-left: 0;
    padding-bottom: 0;
}