<p-dialog
  header="Add New Master Data container"
  [modal]="true"
  [(visible)]="addDialogVisibility"
  [style]="{ width: '20rem' }"
  [breakpoints]="{ '1199px': '35vw', '575px': '90vw' }"
  (onHide)="resetForm()"
>
  <form
    [formGroup]="addMasterDataContainerForm"
    class="mt-2 flex grow flex-col gap-4 pb-8"
  >
    <div class="flex flex-col gap-2">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        pInputText
        formControlName="name"
        placeholder="Enter container name"
        variant="filled"
      />
      @if(addMasterDataContainerForm.getError('name')?.invalid &&
      addMasterDataContainerForm.getError('name')?.touched) {
      <small class="text-red-500"> Name is required </small>
      }
    </div>

    <p>Fields</p>
    @for (customField of customFields(); track customField.id) {
    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2">
        <input
          [id]="customField.id"
          type="text"
          pInputText
          [formControlName]="customField.id"
          placeholder="Enter label"
          variant="filled"
          class="w-full"
        />
        <button type="button" (click)="removeCustomField(customField.id)">
          <iconify-icon
            icon="lucide:circle-x"
            class="text-[1.5rem] text-red-500"
          ></iconify-icon>
        </button>
      </div>
      @if(addMasterDataContainerForm.getError(customField.id)?.invalid &&
      addMasterDataContainerForm.getError(customField.id)?.touched) {
      <small class="text-red-500"> Please fill </small>
      }
    </div>
    }
    <p-button (click)="addCustomField()" severity="secondary">
      <span>New Field</span>
      <iconify-icon
        icon="lucide:plus"
        class="ml-2 text-[1.5rem]"
      ></iconify-icon>
    </p-button>
    <footer class="mt-auto"></footer>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex items-center justify-end gap-4">
      <p-button type="button" (onClick)="cancelAdding()" severity="secondary" [outlined]="true"> Cancel </p-button>
      <p-button
        [disabled]="addMasterDataContainerForm.invalid || numOfCustomFields() < 1"
        type="submit"
        (onClick)="onSubmit()"
      >
        {{
          addMasterDataContainerForm.valid && numOfCustomFields() > 0
            ? "Add"
            : "Please
    fill all the fields"
        }}
      </p-button>
    </div>
  </ng-template>
</p-dialog>
