<app-dashboard-page-wrapper
  title="Workflows"
  [primaryButton]="{
    label: 'Add New',
    action: showDialog()
  }"
>
  <div class="mt-6 grid grid-cols-3 gap-8">
    @for (wf of workflows();track wf._id) {
    <app-workflow-card
      [props]="wf"
      (workflowSelectedToUpdate)="showUpdateDialog($event)()"
      (workflowSelectedToDelete)="confirmDelete($event)"
    ></app-workflow-card>
    }
  </div>
</app-dashboard-page-wrapper>
<app-add-workflow-dialog [visible]="visible" (addWorkflow)="loadWorkflows()" />
<app-update-workflow-dialog
  [visible]="updateModalVisible"
  (updateWorkflow)="loadWorkflows()"
  [selectedWorkflowToUpdate]="selectedWorkflowToUpdate()"
/>
<p-confirmDialog />
<p-toast />
