<div class="rounded-xl border border-[rgba(0,0,0,0.2)] p-4">
  <div class="flex items-start justify-between">
    <iconify-icon icon="lucide:layers" class="text-[1.75rem]" />
    <button>
      <iconify-icon icon="lucide:trash" class="text-brand-gray" />
    </button>
  </div>
  <div class="mt-2 flex flex-col gap-2">
    <h3 class="text-[20px] font-[700]">
      {{ num() }} - {{ props().stagename }}
    </h3>
    <p class="h-[60px]">
      {{ props().description }}
    </p>
    <p-tag
      [value]="numOfFields() + ' fields'"
      severity="secondary"
    ></p-tag>
    <p-button styleClass="mt-4 w-full flex justify-center">
      Edit
    </p-button>
  </div>
</div>
