<div class="rounded-xl border border-[rgba(0,0,0,0.2)] p-4">
  <img src="assets/images/token-card-bg.png" alt="Token card" class="w-full">
  <div class="mt-2 flex flex-col gap-1">
    <h3 class="text-[20px] font-[700]">
      {{ props.tokenname }}
    </h3>
    <p>
      {{ props.price }} XLM
    </p>
    <div class="mt-4 flex items-center justify-stretch gap-4">
       <button pButton type="button" label="View" icon="pi pi-external-link" (click)="showDialog()" class="mt-4 w-full flex justify-center items-center gap-2 p-button-secondary"></button>
        <p-button styleClass="w-full" (click)="BuyToken()">
        Reserve
      </p-button>
  </div>
</div>

<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [dismissableMask]="true"
  header= "{{props.tokenname}}"
  [style]="{ width: '80vw', maxWidth: '900px' }"
  [contentStyle]="{ height: '70vh', padding: '0' }"
  position="center"
  (onHide)="fileUrl = null"
>
  <iframe
 *ngIf="fileUrl"
    [src]="fileUrl" 
    width="100%" 
    height="100%" 
    style="border: none; min-height: 60vh;"
  >
  </iframe>
</p-dialog>
