<app-dashboard-page-wrapper
  [title]="masterDataContainerName()"
  [primaryButton]="{
    label: 'Add New',
    action: goToCreateRecordPage()
  }"
  [secondaryButton]="{
    label: 'Edit Container',
    action: openUpdateDialog(),
    icon: 'pen'
  }"
>
  @if(!loading()) {
  <p-table
    [columns]="columns()"
    [value]="masterRecords()"
    [tableStyle]=" loadingData () ? { 'min-width': '50rem', 'min-height': 'calc(100vh - 300px)' }: {'min-width': '50rem',}"
    [loading]="loadingData()"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (col of columns();track col.field) {
        <th [id]="col.field">{{ col.header }}</th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        @for (col of columns();track col.field) {
        <td>{{ rowData[col.field] }}</td>
        }
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="handlePagination($event)"
    [rows]="rows()"
    [totalRecords]="totalRecords()"
    [first]="first()"
    [rowsPerPageOptions]="[10, 15, 20, 25, 30, 40, 50, 75, 100]"
  ></p-paginator>
  }
</app-dashboard-page-wrapper>
<app-update-master-data-container-dialog
  [visible]="updateDialogVisible"
  [selectedContainerToUpdate]="selectedMasterDataContainer()"
  (updateMasterData)="loadRecords()"
/>
